h1{
  font-family: serif;
}
    
h1{
  color: black;
}
    .navegacion  {
        background-color: limegreen;
        border: bisque;
        color: white;
        padding: 12px 15px;
       
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
      }

      body{
        background-image: url(imagen/descarga02.png);
      }

      header a {
        color: white;
      }

      h3{
        color: mediumslateblue;
        font-family: 'Times New Roman', Times, serif;
      }

      ol li{
        font-weight: bold;
      }

      h3{
     color: mediumslateblue
      }

    img#especial {
      width: 250px;
    }
    
    img#hola{
      width:  200px;
      
    }

    

    