h1{
  font-family: serif;
}
    
h1{
  color: black;
}
    .navegacion  {
        background-color: black;
        border: bisque;
        color: white;
        padding: 19px 11px;
       
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
      }

      body{
        background-image: url(imagen/fondo18.png);
      }

      header a {
        color: white;
      }

      h3{
        color: black;
        font-family: 'Times New Roman', Times, serif;
      }

      ol li{
        font-weight: bold;
      }

      h3{
     color: black
      }

    img#especial {
      width: 200px;
      
    }
    
    img#hola{
      width:  200px;
      
      
    }

    img#jesus{
      width: 1000px;
      height: 400px;
    }



    h2#css{
     
      padding-top: 248px;
    }

    p#center{
      color:black;
    }

    h1#cristo{
padding-top: 35px;
    }

    div p {
      color: black;
    }

    h1#Dios{
      padding-top: 106px;
    }
    
    iframe{
    border-top: 30px;
    }

    img#como{
      padding-top: 20px;
    }