h1{
  font-family: monospace;
}
    

    .btn {
        background-color: black; 
        border: none;
        color: white;
        padding: 14px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
      }

      header a{
        color: white;
      }