<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
 
    

<header>


    <div class="row">
        <aside class="col-md-12 bg-danger">header</aside>
    
    </div>
    
    <div class="row">
        <aside class="col-md-4 bg-primary">nav</aside>
        <div class="col-md-4 bg-info">section</div>
    
    
    </div>
    
    
    <div class="row">
 <aside class="col-md-12 bg-secondary">article</aside>
    
    </div>
    
    
    
    <div class="row">
        <aside class="col-md-12 bg-warning">Fooder</aside>












</header>    



</body>
</html>