<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   <link rel="stylesheet" href="../css/bootstrap.min.css"> 
</head>
<body>
    



    <div class="row">
        <aside class="col-md-12 bg-danger">header</aside>
    
    </div>
    
    
 <aside class="col-md-12 bg-primary"><div class="container row"></div> nav</aside>
    
    
    
    
    
 <aside class="col-md-12 bg-secondary"><div class="container row"></div>section</aside>
    
    
    


    
 <aside class="col-md-12 bg-secondary"><div class="container row"></div>article</aside>
    
    



    
<aside class="col-md-12 bg-secondary"><div class="container row"></div>acide</aside>
    
    


    
    
    <div class=" row">
        <aside class="col-md-12 bg-warning">Fooder</aside>
    
   </div>

</header>



</body>
</html>